.app {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: flex-start;
    margin-top: 50px;
}

.input-components {
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}