.collapsible-component {
    width: 30vw;
    min-width: 200px;
}

.collapsible-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
}

.collapsible-header h1 {
    font-size: xx-large;
}