.collapsible-component {
    width: 28vw;
    min-width: 200px;
}

.collapsible-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
    padding-left: 80px;
    padding-right: 80px;
}

.collapsible-header h1 {
    font-size: xx-large;
}