.education-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 20px;
}

.education-institution {
    font-family: Nunito-Bold;
}

.education-list {
    list-style: none;
}