.personal-details-container {
    font-family: Nunito-Bold;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #1f4667;
    padding: 20px;
    color: rgba(255, 255, 255, 0.884);
}

.contact-details {
    display: flex;
    gap: 12px;
}

.contact-element {
    display: flex;
    gap: 5px;
}