.work-container {
    display: grid;
    grid-template-columns: 1fr 2fr;    
    margin-bottom: 20px;
}

.work-responsibilites {
    grid-column: span 2;
}

.work-workplace {
    font-family: Nunito-Bold;
}

.work-responsibilites {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.work-responsibilites ul {
    padding-left: 20px;
}

.work-responsibilites li {
    margin-bottom: 5px;
}

.work-list {
    list-style: none;
}